h1 {
    color: green;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: brown;
    font-size: 50px;
}

ul li {
    color: aqua;
    font-size: 30px;
}

p {
    color: orange;
    font-size: 25px;
}

img {
    width: 10cm;
    border-radius: 20px;
}